{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "annotate-console-log"
      ]
    }
  },
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
}
